body {
  padding-top: 110px;
}

@media (min-width: 600px) {
    .container-small {
        width: 600px;
    }
}
@media (min-width: 992px) {
    .container-small {
        width: 700px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 750px;
    }
}

.container-small {
    max-width: 100%;
}
